.employeeList-Wrapper {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.employee__contentWrapper {
    display: flex;
    justify-content: space-evenly;
    color: white;
}